.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Input{

   width: 25pc;
   margin-top: 5pc;
   margin-left: 23pc;
}
@media screen and ( max-width:360px) {
  .Input{

margin-left: 2pc;
width: 14pc
}


.cd{
  margin-top: -2pc;
}

}


